<p id="notice"><%= notice %></p>

<section class="post-summary-container">
    <h1>Posts</h1>
    <% @posts.each do |post| %>
        <article class="post-summary-line">
            <span onclick="location='/posts/<%=post.id%>'" class="thumb">
                <%= image_tag post.main_img.url(:thumb) %>
            </span>
            <span onclick="location='/posts/<%=post.id%>'" class="title">
                <div class="post-summary-title"><%= post.title %></div>
                <small><%= post.user.email %></small>
            </span>
            <span onclick="location='/posts/<%=post.id%>'" class="body">
                <%= post.body %>
            </span>
            <span onclick="location='/posts/<%=post.id%>'" class="goal">
                $<%=post.awarded%> of $<%=post.goal%>
            </span>
            <span class="crud">
                <% if policy(post).destroy? %>
                    <div><%= link_to 'Edit', edit_post_path(post) %></div>
                    <div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                <% end %>
            </span>
        </article>
    <% end %>
</section>
<br>
<%= link_to 'New Post', new_post_path %>
