<p id="notice"><%= notice %></p>

<section class="post-summary-container">
    <h1>Posts</h1>
    <% @posts.each do |post| %>
        <article class="post-summary-line">
            <span onclick="location='/posts/<%=post.id%>'" class="user">   <%= post.user.email %></span>
            <span onclick="location='/posts/<%=post.id%>'" class="title">  <%= post.title      %></span>
            <span onclick="location='/posts/<%=post.id%>'" class="body">   <%= post.body       %></span>
            <span onclick="location='/posts/<%=post.id%>'" class="goal">   <%= post.goal       %></span>
            <span onclick="location='/posts/<%=post.id%>'" class="awarded"><%= post.awarded    %></span>
            <span class="crud">
                <% if policy(post).destroy? %>
                    <div><%= link_to 'Edit', edit_post_path(post) %></div>
                    <div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                <% end %>
            </span>
        </article>
    <% end %>
</section>
<br>
<%= link_to 'New Post', new_post_path %>
